
@{
    ViewBag.Title = "SiteAdminEmailPassword";
}

<h2>Site Admin Email Password</h2>
<h4>This is the email that will be used to send the activation code to the new registered user.</h4>

@if (IsPost)
{
    if (ViewBag.AdminEmailPasswordErrorMessage != null)
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.AdminEmailPasswordErrorMessage</strong>
        </div><br /><br />
    }
}

@using (Html.BeginForm())
{

    <div class="form-group">
        <label for="EmailId">Email Id:</label>
        <input type="email" class="form-control" id="EmailId" placeholder="Enter Email" name="AdminEmailId" />
    </div>
    <div class="form-group">
        <label for="password">PassWord:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="AdminPassword" />
    </div>
    <input type="submit" class="btn btn-default" value="Submit" />
}
